.logo {
    width: 5vh;
    height: 5vh;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.2) rotate(90deg);
}
#ora{
    color: red;
}

#top {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
#top:after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 2px;
bottom: 5px; /* Modifica il valore per ridurre lo spazio tra la parola e la sottolineatura */
left: 0;
background-color: #ca0080;
transform-origin: bottom right;
transition: transform 0.25s ease-out;
}
  
#top:hover:after {
transform: scaleX(1);
transform-origin: bottom left;
}
  